<div id="loginSquare">
    <div class="flex-container">
    <form id="userform" action="/users/add" method="POST">
        <h3>Create User</h3>
        <div class="create">
            <input name="name" placeholder="username" required/>
            <input name="avatarUrl" type="url" placeholder="avatar URL" required/>
            <button class="btn btn-primary">Create</button>
        </div>
    </form>
        {{#each users}}
        <div class="flex-item">
            <img src="{{this.avatarUrl}}">
            <div class="userName">{{this.name}}</div>
        </div>
        {{/each}}
    </div>
</div>