<div id="loginSquare">
    <form id="usercreateform" action="/users/add" method="POST">
        <span class="badge badge-dark large">Users<span class="badge badge-secondary pull-right">{{users.length}}</span></span>
        <div class="create">
            <input class="form-control" name="name" placeholder="username" required/>
            <input class="form-control" name="avatarUrl" type="url" placeholder="avatar URL">
            <button type="submit" id="submituser" class="btn btn-primary">Create</button>
        </div>
    </form>
    <div class="flex-container fixed-height">
    
        {{#each users}}
         {{> userbubble user=this}}
        {{/each}}
    </div>
</div>