<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Projects</li>
  </ol>
</nav>

{{> projects}}
{{> users}}

<script>
    Handlebars.registerPartial('projects');
    Handlebars.registerPartial('users');
</script>