<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Kanban Board</li>
  </ol>
</nav>

<div class="container-fluid">
    
    {{> projects}}

</div>

