<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Kanban</a></li>
    <li class="breadcrumb-item active">{{project.name}}</li>
  </ol>
</nav>

<footer class="footer">
    {{> users}}
</footer>