
.flex-container {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    position: relative;
    overflow: auto;
}

.thumbnail {
    position: relative;
}

.space {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.caption {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
    font-size: 20px;
}

.card-body {
    color: black;
    min-width: 350px;
}

.fixed-height {
    height: 110px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.large {
    font-size: 100%;
    width: 100%;
}

#submituser {
    width: 100%;
}

#usercreateform {
    min-width: 240px;
}

.flex-item {
    position: relative;
    margin: 10px;
    color: white;
    font-weight: bold;
    font-size: 2em;
}

.flex-item:hover .userName {
    opacity: 1;  
}

.userName {
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    line-height: 6rem;
    position: absolute;
    color: white;
    font-size: 20px;
    top: 43%;
    left: 50%;
    background-color: rgba(0,0,0,0.5);
    transform: translate(-50%, -50%);
    transition: opacity 0.6s;
    opacity: 0;
    object-fit: cover;
    vertical-align: center;
}

.flex-grid-thirds {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
}

.page {
    margin-bottom: 200px;
}

.col {
    flex: 0 32%;
    margin-bottom: 2%;
}

@media (max-width: 500px) {
    .flex-grid-thirds {
        display: block;
    }
    .col {
        width: 100%;
    }
}

.flexlayout {
    display: flex;
    margin: 20px;
    justify-content: space-between;
}


/* @media screen and (min-width: 40em) {
    .flex-grid-thirds {
        margin: 1rem;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: none;
        gap: 1rem;
    }
} */


/* @media screen and (min-width: 60em) {
    .flex-grid-thirds {
        grid-template-columns: auto auto auto;
    }
} */

html {
    height: 100vh;
}

body {
    height: 100vh;
}

.bi-plus-circle,
button {
    cursor: pointer;
}

#loginSquare {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
    align-items: center;
    padding: .5rem;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid black
}

section#deleteZone {
    display: none;
    margin: 3rem;
    max-width: 5em;
    max-height: 5em;
    text-align: center;
}

section#todoZone {
    margin-top: 2rem;
    background-color: #D05353;
    border: 1px solid black;
    min-height: 20rem;
    position: relative;
}

section#doingZone {
    margin-top: 2rem;
    background-color: #FFCF70;
    border: 1px solid black;
    min-height: 20rem;
    position: relative;
}

section#doneZone {
    margin-top: 2rem;
    background-color: #4DA167;
    border: 1px solid black;
    min-height: 20rem;
    position: relative;
}

#newTask input {
    width: 83%;
    text-align: center;
    background-color: white;
    border: #D05353;
    height: 30px;
}

#newTask {
    position: inline;
    margin-top: 5px;
    bottom: 0;
    margin-bottom: 7.5px;
    white-space: nowrap;
    background-color: #2176ae;
    border: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
}

.tasktitles {
    text-align: center;
    padding: 5px;
}

.tasklist {
    text-align: center;
    list-style: upper-roman;
}

li {
    margin: 5px 5px 10px 5px;
}

.desktopOnly {
    display: none;
}

img {
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    object-fit: cover;
    vertical-align: baseline;
}

@media only screen and (min-width: 768px) {
    .mobileOnly {
        display: none;
    }
    .desktopOnly {
        display: block;
    }
    .desktopContent {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto;
        grid-gap: 15px;
    }
    section#deleteZone {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 2.5em;
        max-height: 2.5em;
        text-align: center;
    }
}